<div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>Register</h1>
        <p class="lead">Already a member? Please <a routerLink="../login">log in</a> instead.</p>
        <form #registerForm = "ngForm" (submit)="register()">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text"  required minlength="5" class="form-control" name="name" placeholder="Enter your name" [(ngModel)]="credentials.name" #name="ngModel">
          </div>
          <div *ngIf = "(name.touched) && name.errors  ">
            <small class = "text-danger" *ngIf = "name.errors.required">Name is required.</small>
            <small class = "text-danger" *ngIf = "name.errors.minlength">Name is too short.</small>

          </div>
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" required email class="form-control" name="email" placeholder="Enter email" [(ngModel)]="credentials.email" #email = "ngModel">
          </div>
          <div *ngIf = "(email.touched) && email.errors  ">
            <small class = "text-danger" *ngIf = "email.errors.required">Email is required.</small>
            <small class = "text-danger" *ngIf = "email.invalid">Invalid email address.</small>

          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" required minlength="5" name="password" placeholder="Password" [(ngModel)]="credentials.password" #password="ngModel"> 
          </div>
          <div *ngIf = "(password.touched) && password.errors  ">
            <small class = "text-danger" *ngIf = "password.errors.required">Password is required.</small>
            <small class = "text-danger" *ngIf = "password.errors.minlength">Password is too short.</small>

          </div>

          <button type="submit" [disabled] = "registerForm.form.invalid" class="btn btn-success">Register!</button>
        </form>
      </div>
    </div>
  
  </div>