<div style="width: 400px; margin: auto;">
    <div *ngIf="currentMovie" class="edit-form">
      <h4>Movie</h4>
      <form #movieForm = "ngForm">
        <div class="form-group">
          <label for="title">Title </label>
          <input
            #title = "ngModel"
            required
            minlength="5"
            maxlength="60"
            type="text"
            class="form-control"
            id="title"
            [class.is-invalid] = "title.invalid && title.touched"
            [(ngModel)]="currentMovie.title"
            name="title"
          />
        </div>
        <div *ngIf = "title.errors && (title.invalid || title.touched)">
          <small class = "text-danger" *ngIf = "title.errors.required">Title is required</small>
          <small class = "text-danger" *ngIf = "title.errors.minlength">Title should be minimum 5 characters</small>
          <small class = "text-danger" *ngIf = "title.errors.maxlength">Title should be minimum 60 characters</small>

        </div>
        <div class="form-group">
          <label for="description">Description </label>
          <input
            #description = "ngModel"
            required
            type="text"
            minlength="5"
            maxlength="100"
            class="form-control"
            id="description"
            [class.is-invalid]= "description.invalid  && description.touched"
            [(ngModel)]="currentMovie.description"
            name="description"
          />
        </div>
        <div *ngIf = "description.errors && (description.invalid || description.touched)">
          <small class = "text-danger" *ngIf = "description.errors.required">Description is required</small>
          <small class = "text-danger" *ngIf = "description.errors.minlength">Description should be minimum 5 characters</small>
          <small class = "text-danger" *ngIf = "description.errors.maxlength">Description should be minimum 100 characters</small>

        </div>
        <div class="form-group">
            <label for="price">Price </label>
            <input
              #price = "ngModel"
              required
              priceValidateDirective

              min="0"
              type="number"
              class="form-control"
              id="price"
              [class.is-invalid] = "price.invalid && price.touched"
              [(ngModel)]="currentMovie.price"
              name="price"
            />
          </div>
          <div *ngIf = "price.errors && (price.invalid || price.touched)">
            <small class = "text-danger" *ngIf = "price.errors.required">Price is required</small>
            <small class = "text-danger" *ngIf = "price.errors.min">Minimum price is 0.</small>
            <small class = "text-danger" *ngIf = "price.errors.min">Minimum price is 0.</small>
            <small class = "text-danger" *ngIf = "price.errors.priceInvalid">Minimum price is 0.</small>

          </div>

          <div class="form-group">
            <label for="release_year">Release year </label>
            <input
              #release_year = "ngModel"
              required
              ReleaseYearValidateDirective
              type="number"
              class="form-control"
              id="release_year"
              [class.is-invalid] = "release_year.invalid && release_year.touched"
              [(ngModel)]="currentMovie.release_year"
              name="release_year"
            />
          </div>
          <div *ngIf = "release_year.errors && (release_year.invalid || release_year.touched)">
            <small class = "text-danger" *ngIf = "release_year.errors.required">Release year is required</small>
            <small class = "text-danger" *ngIf = "release_year.errors.releaseYearInvalid">Release year must be between 1900 and the current year</small>

          </div>
       
      </form>
  
     
      <button class="badge badge-danger mr-2" (click)="deleteMovie()">
        Delete
      </button>
  
      <button
        type="submit"
        class="badge badge-success"
        [disabled] = "movieForm.form.invalid"
        (click)="updateMovie()"
      >
        Update
      </button>
      <p>{{ message }}</p>
    </div>
  
    <div *ngIf="!currentMovie">
      <br />
      <p>Cannot access this Movie...</p>
    </div>
  </div>