<div>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
     

      
      <div *ngIf="auth.isLoggedIn()" class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="movies" class="nav-link" (click)="auth.logout()">Logout</a>
        </li>
        <li class="nav-item">
          <a routerLink="movies" class="nav-link">Movies</a>
        </li>
        <li class="nav-item">
          <a routerLink="add" class="nav-link">Add</a>
        </li>
      </div>
    </nav>
  
    <div class="container mt-3">
      <router-outlet></router-outlet>
    </div>
  </div>
  <router-outlet></router-outlet>