<div class="container">

    <div class="row">
      
      <div class="col-md-6">
  
        <h1 class="form-signin-heading">Sign in</h1>
        <p class="lead">Not a member? Please <a routerLink="../register" >register</a> instead.</p>
    
        <form #loginForm = "ngForm" (submit)="login()" >
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" required email class="form-control" required name="email" id = "email" placeholder="Enter email" [(ngModel)]="credentials.email"  #email="ngModel">
            
          </div>
          <div *ngIf = "(email.touched) && email.errors  ">
            <small class = "text-danger" *ngIf = "email.errors.required">Email is required. </small>
            <small class = "text-danger" *ngIf = "email.invalid">Invalid email address. </small>

          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" required class="form-control" name="password" id = "password" placeholder="Password" [(ngModel)]="credentials.password" #password="ngModel">
            
          </div>
          <div *ngIf = "(password.touched) && password.errors  ">
            <small class = "text-danger" *ngIf = "password.errors.required">Password is required.</small>

          </div>
          <button type="submit" [disabled] = "loginForm.form.invalid"class="btn btn-success" >Sign in!</button>
        </form>
        <div>
          <small class = "text-danger" *ngIf = "errorMessage">Invalid credentials.</small>
        </div>
      </div>
    </div>
  
  </div>
  