<div class="list row">





<div class="card text-center m-3">
  Hello {{userName}}!

    
    <div class="card-footer pb-0 pt-3">
        <ul *ngIf="movies && movies.length">
         
            <li
                class="list-group-item"
                *ngFor="let movie of movies; let i = index"
                [class.active]="i == currentIndex"
                (click)="setActiveMovie(movie, i)"
              >
                {{ movie.title }}
              </li>
             
        </ul>
          <button *ngIf="pager.page > 0" class="badge" (click)="previousPage()">
            Previous page
         </button>
         <label for="cars">Movies per page:</label>

         <select [(ngModel)] = "pager.pageSize" (ngModelChange)="onChangeObj($event)">
          <option *ngFor="let c of pageSizes" [value]="c">{{c}}</option>

         </select>       
          <button *ngIf="pager.page < pager.totalPages - 1" class="badge " (click)="nextPage()">
          Next page
        </button>
        

    </div>
  Page {{pager.page + 1}} of
{{pager.totalPages}}
</div>

  
   <div class="col-md-6">
    <div *ngIf="currentMovie">
      <h4>Selected movie:</h4>
      <div>
        <label><strong>Title:</strong></label> {{ currentMovie.title }}
      </div>
      <div>
        <label><strong>Description:</strong></label>
        {{ currentMovie.description}}
      </div>
      <div>
        <label><strong>Price:</strong></label>
        {{ currentMovie.price }}
      </div>
      <div>
        <label><strong>Release year:</strong></label>
        {{ currentMovie.release_year }}
      </div>
      <div>
        <label><strong>Created by:</strong></label>
        {{ currentMovie.created_by.name}}
      </div>
      <div>
        <label><strong>Created at:</strong></label>
        {{ currentMovie._created}}
      </div>
      <div *ngIf = "currentMovie.updated_by">
        <label ><strong>Updated by:</strong></label>
        {{ currentMovie.updated_by.name }}
      </div>
      <div *ngIf = "currentMovie.updated_by">
        <label ><strong>Updated at:</strong></label>
        {{ currentMovie._modified }}
      </div>

      <a class="badge badge-warning" routerLink="/movies/{{ currentMovie!['_id'] }}">
        Edit
      </a>
    </div>

    <div *ngIf="!currentMovie">
      <br />
      <p>Please click on a Movie...</p>
    </div>
  </div>
</div>